body{
    display: flex;
    /* border: goldenrod 4px dotted; */
}

.main-wrapper{
    width: 100%;
}



.container{
    display: flex;
    width: 100%;
}


.image{
    display: none;
    position: sticky;
    top: 0;
    filter: brightness(50%);
    height: 100vh;
    width: 40%;
    background: url('../assets/images/pere-ono.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    
}

form{
    
    
    display: grid;
    grid-template-columns: auto;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: white;
    
}


.informations{
    display: none;
    grid-template-columns: auto;
    font-weight: 500;
    font-size: 1em;
    align-items: center;
    row-gap: 3rem;
    /* box-shadow: 1px 1px 20px -5px rgba(150, 150, 150, 0.4); */
    padding: 1rem;
}

.property-description, .amenities{
    display: grid;

}


.grid{
    
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px dotted fuchsia; */
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    
}

input[type=text], select{
    border:rgba(200, 200, 200, .9) 1px solid;
    width: 100%;
    padding: .5rem;
    font-weight: 500;
    font-size: 1em;
}

.inputs{
    display: flex;
    flex-direction: column;
    
}

.electricity, .water{
    grid-column: 1/-1;
    flex-direction: row;
}



.description{
    padding: 1rem;
    grid-column: 1 /-1;
    
}

label{
    margin-bottom: .5rem;
}


/* .error {
    padding: .5rem;
    color: crimson;
    position: relative;
    bottom: 0;

} */

@media only screen and (min-width: 768px) {

    .container{
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    .container{
        display: flex;
        width: 100%;
    }

    .image{
        display: block;

        
    }



    form{
        
        display: grid;
        grid-template-columns: auto;
        row-gap: 3rem;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        flex-direction: column;
        background: white;
        
        width: 60%;
        
    }

    .informations{
        display: none;
        grid-template-columns: auto;
        font-weight: 500;
        font-size: 1em;
        align-items: center;
        row-gap: 3rem;
        /* box-shadow: 1px 1px 20px -5px rgba(150, 150, 150, 0.4); */
        width: 50rem;
        padding: 1rem;
    }

    .property-description, .amenities{
        display: grid;

    }


    .grid{
        
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        
    }

    input[type=text], select{
        border:rgba(200, 200, 200, .9) 1px solid;
        padding: .5rem;
        font-weight: 500;
        font-size: 1em;
    }

    .inputs{
        display: flex;
        flex-direction: column;
        
    }

    .electricity, .water{
        grid-column: 1/-1;
        flex-direction: row;
    }



    .description{
        padding: 1rem;
        grid-column: 1 /-1;
        
    }

    label{
        margin-bottom: .5rem;
    }


    .error {
        padding: .5rem;
        color: crimson;
        position: relative;
        bottom: 0;
    
    }

}

