

.container{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.container{
    display: flex;
    width: 100%;
}

.image{
    position: sticky;
    top: 0;
    filter: brightness(50%);
    height: 100vh;
    width: 40%;
    background: url('../assets/images/pere-ono.jpg') no-repeat;
    background-position: center;
    background-size: cover;

    
}



form{
    
    display: grid;
    grid-template-columns: auto;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 3rem;
	flex-direction: column;
    background: white;
    
    width: 60%;
    
}





.header_dropdown{
    margin: 0;
}

.header_dropdown:hover{
    z-index: 99;
    
}


.header_dropdown-button{
    background: white;
    color: black;
}

.dropdown:hover .horizontal{
    display: flex;
    flex-direction: row;
}

.informations{
    display: grid;
    grid-template-columns: auto;
    font-weight: 500;
    font-size: 1em;
    align-items: center;
    row-gap: 3rem;
    box-shadow: 1px 1px 20px -5px rgba(150, 150, 150, 0.4);
    width: 50rem;
    padding: 3rem;
}


.grid{
    
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    
}

input[type=text], select{
    border:rgba(200, 200, 200, .9) 1px solid;
    padding: .5rem;
    font-weight: 500;
    font-size: 1em;
}

.inputs{
    display: flex;
    flex-direction: column;
    
}



.description{
    padding: 1rem;
    grid-column: 1 /4;
    
}

label{
    margin-bottom: .5rem;
}

.price{
    display: none;
}

.error {
    padding: .5rem;
    color: crimson;
    position: relative;
    bottom: 0;
   
}

